**/work/
lab5/lab5-files/shifter/work/_info
lab5/lab5-files/shifter/work/_lib.qdb
lab5/lab5-files/shifter/work/_lib1_0.qdb
lab5/lab5-files/shifter/work/_lib1_0.qpg
lab5/lab5-files/shifter/work/_lib1_0.qtl
